/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Banner Styles */
.banner {
    background-color: #0052CC;
    color: white;
    padding: 1px 20px; /* Further reduced height */
    text-align: left; /* Aligns the title to the left */
    position: relative; /* Allows positioning of the profile picture */
}

/* Title Styles */
.banner h1 {
    font-size: 1.5em; /* Reduced font size */
    margin: 0;
}

/* Subtitle Styles */
.subtitle {
    margin: 0;
    font-size: 0.9em; /* Adjust font size as needed */
}

/* Profile Picture Styles */
.banner .profile-pic {
    position: absolute;
    top: 1px; /* Adjusted position */
    right: 20px; /* Adjust the position as needed */
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image circular */
}

/* Contact Information Styles */
.contact-info {
    background-color: white;
    padding: 10px;
    text-align: left;
    font-size: 0.9em; /* Reduced font size */
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    font-weight: bold; /* Makes the contact details bold */
}

/* About Me Styles */
.about-me {
    margin-left: 20px;
}

.about-me h2 {
    margin-top: 0;
}

/* Quick Filters Styles */    
.quick-filters {
    background-color: #F4F5F7;
    padding: 10px;
}



.quick-filters p {
    display: inline;
    font-weight: bold;
    margin-right: 10px;
}

.quick-filters ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

.quick-filters li {
    display: inline;
    margin-right: 10px;
}

.quick-filters a {
    text-decoration: none;
    color: #0052CC;
}

/* Swimlane Styles */
.swimlane {
    border: 1px solid #E0E0E0;
    margin: 10px;
    padding: 10px;
}

.swimlane h2 {
    border-bottom: 2px solid #0052CC;
    padding-bottom: 5px;
}

/* Swimlanes Container Styles */
.swimlanes-container {
    display: flex;
    justify-content: space-around;
}

.swimlanes-container .swimlane {
    flex: 1;
    margin: 10px;
}
